package day{{.DayName}}

import (
	"aoc/util"
	"fmt"
)

type dayItem struct {

}

var (
	items = []dayItem{}
	grid := util.NewInfGrid[string]().WithDefaultValue(".")
)

func load(inputFile string) {
	data, _ := util.ReadFileToStringSlice(inputFile)
	// data, _ := util.ReadFileToIntSlice(inputFile)
	// data, _ := util.ReadFileToStringSliceWithDelim(inputFile, "\n\n")

	for _, line := range data {
		tokens := util.ParseTokens(line)
		// ints := util.ParseInts(line)
		// strs := util.ParseStrs(line)
		// words := util.ParseWords(line)

		fmt.Println(tokens)
	}
}

func part1(inputFile string) int {
	load(inputFile)

	result := 0
	// for _, item := range items {
	// }

	return result
}

func part2(inputFile string) int {
	load(inputFile)

	result := 0
	// for _, item := range items {
	// }

	return result
}